* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
}

.page-header {
	width: 100vw;
	border-bottom: 2px solid #f1f1f1;
}

.header-container {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-container a {
	margin-left: 55px;
	padding: 35px 0;
	text-decoration: none;
	color: #858585;
}

.header-container a:first-child {
	color: #333333;
}

nav {
	display: flex;
	font-weight: bold;
}

.page-main {
	width: 100vw;
}

.main-container {
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 25px;
}

.general {
	grid-column: span 1;
	grid-row: span 2;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 1fr;
}

.favorites {
	grid-column: span 1;
	grid-row: span 2;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 1fr;
}

.devices {
	grid-column: span 2;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 1fr;
}

.general header, .favorites header {
	grid-row: span 1;
	grid-column: span 1;
}

.devices header {
	grid-row: span 2;
	grid-column: span 1;
	display: flex;
}

.header-title {
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 20px;
}

.general-content {
	grid-row: span 5;
	grid-column: span 1;
	background-image: url(../img/bg@2x.png);
	background-size: cover;
	border-radius: 20px;
	padding: 25px;
}

.favorites-content {
	grid-row: span 5;
	grid-column: span 1;
	background-color: #ebe9e4;
	border-radius: 20px;
	padding: 25px;
}

.devices-content {
	grid-row: span 3;
	grid-column: span 1;
}

.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-container {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 0.75em;
	color: #858585;
	padding: 25px 0;
}

.footer-links a {
	text-decoration: none;
	margin-right: 15px;
}

.footer-links a:visited {
	color: #858585;
}

.devices-filter {
	display: flex;
	color: #000000;
	font-weight: bold;
	align-items: center;
}

.devices-filter button {
	font-weight: bold;
	font-size: 0.75em;
	padding: 7px 15px;
	border: none;
	border-radius: 20px;
	background-color: #F7F7F7;
	margin-left: 15px;
}

.devices-filter button:first-child {
	background-color: #FFD93E;
}

.devices-content {
	display: flex;
}

.device {
	background-color: #F7F7F7;
	margin-right: 15px;
	padding: 15px;
	border-radius: 20px;
	/*flex: 1;*/
}

.device > .name {
	font-size: 0.75em;
	font-weight: bold;
}

.device > .status {
	font-size: 0.75em;
	color: #858585;
}