* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
}

.page-header {
	width: 100vw;
	border-bottom: 2px solid #f1f1f1;
}

.header-container {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-container a {
	margin-left: 55px;
	padding: 40px 0;
	text-decoration: none;
}

.header-container a:visited {
	color: #858585;
}

/*.header-container a:active {
	color: #333333;
}
это была заготовка для подсветки ссылок в главном меню*/

nav {
	display: flex;
	font-weight: bold;
}

.page-main {
	width: 100vw;
}

.main-container {
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 1fr 1fr;
}

.general {
	grid-column: span 1;
	grid-row: span 2;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 1fr;
}

.favorites {
	grid-column: span 1;
	grid-row: span 2;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 1fr;
}

.devices {
	grid-column: span 2;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 1fr;
}

section.general header, section.favorites header {
	grid-row: span 1;
	grid-column: span 1;
}

section.devices header {
	grid-row: span 2;
	grid-column: span 1;
}

.header-title {
	font-weight: bold;
}

.general-content {
	grid-row: span 5;
	grid-column: span 1;
}

.favorites-content {
	grid-row: span 5;
	grid-column: span 1;
}

.devices-content {
	grid-row: span 3;
	grid-column: span 1;
}

.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-container {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 0.75em;
	color: #858585;
	padding: 25px 0;
}

.footer-links a {
	text-decoration: none;
	margin-right: 15px;
}

.footer-links a:visited {
	color: #858585;
}